html body{
    width:100%;
    margin: 0;
    padding: 0;
    position:absolute;
    top: 0;
    left: 0;
    font-family: 'Noto Sans JP', sans-serif;
    

 
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
}


h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    margin-top:70px;
}
p{
    margin: 0;
    
}
#mene1{
    width: 70%;    
    height: 600px;
    background-color: rgb(0, 208, 255);
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom:600px;
    display:none;
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 100;
}
#mene1 p{
    margin-bottom: 20px;
}

.mene-top { 
    width: 190px;
    padding: 0;
    margin:50px 0px 40px 60px;
    display: block;
    float: left;
    
}
.mene-top h2{
    width:190px;
    padding:0;
    margin: 0;
    color: rgb(53, 2, 238);
    
}


.fa-times{
    color: #000000;
    font-size: 2.5em;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}
.fa-times:before{
    margin:50px;
    
}
.mene-other{
    width: 200px;;
    height:auto;
    clear: both;
    padding: 0;
    margin-right: 0px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0;
    float: left;
}
.mene-other li{
    margin-bottom: 20px;
}

.mene-nother{
    float: left;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 0;
}
.mene-nother li{
    margin-bottom: 20px;
}
.mene-another ul{
    margin-right: 300px;
    margin-left: 400px;
}

main{
    max-width: 791px;
    margin: 0 auto;
    height:auto;
}
.main-header{
    
    width: 100%;
    height: 800px;     
    background-image: url(/img/page.jpg);
    margin-top: 0;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}



.mokuzi{
    height: auto;
    width: auto;
    background-color: #d3d3d360;
    margin-top: 120px;
    margin-bottom: 120px;
}

.mokuzi ul{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mokuzi li{
    height: auto;
    width: auto;
    border-bottom:thin solid rgba(162, 160, 160, 0.974);
    margin-right: 20px;
    



}
.mokuzi a{
    font-size: 20px;
}
.mokuzi h3{
    height: auto;
    width: 70px;
    margin: 0;
    padding-bottom: 20px;
}
.start{
    margin-top:100px;
    margin-bottom: 120px;
}

.type{
    margin-bottom: 120px;
}
.type img{
    width: 791px;
}

.recommend{
    margin-bottom: 120px;
}

.unique{
    margin-bottom: 200px;
}
footer{
    background-color:#c7c7c760;
    width:auto;
    height: 600px;
    margin-top: 300px;
}
footer h2{
    width: auto;
    padding: 60px 190px;
    margin:0;
}

.other{
    float: left;
    margin-right: 200px;
    margin-left: 300px;
}


.nother{
    float: left;
    margin-left: 300px;
}
.another ul{
    margin-right: 300px;
    margin-left: 400px;
}
footer p,li{
    margin-bottom: 20px;
}




