<!DOCTYPE html>
<html lang="ja">

<head>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap" rel="stylesheet">
<title>キーボードを買う前に見てほしいサイト</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"src="//code.typesquare.com/static/ZDbTe4IzCko%253D/ts106f.js"charset="utf-8"></script>
<meta charset="UTF-8">
</head>

<body>
    <%- include('header'); %>
    <div class="main-header"></div> 
    

    <main>
        <div class="mene" id="mene1"> 
            <a class="mene-top" href="/"><h2>About Keybord</h2></a> 
            <i class="fas fa-times"></i>
            <ul class="mene-other">
                <p>このサイト内</p>
                <li><a href="#start">About</a></li>
                <li><a href="#kind">Keybordの種類</a></li>
                <li><a href="#men">メンブレン</a></li>
                <li><a href="#panta">パンタグラフ</a></li>
                <li><a href="#cal">メカニカル</a></li>
                <li><a href="#sei">静電容量無接点方式</a></li>
                
                
            </ul>
            <ul class="mene-nother">
                <p>別のサイト</p>
                <li><a href="/link1"  >おすすめのKeybord</a></li>
                <li><a href="/link2">特徴的なKeybord</a></li>
            </ul>
          </div>
            <div class="mokuzi">
                <ul>
                    <h3>目次</h3>
                    <li><a href="#start">1.About</a></li>
                    <li><a href="#kind">2.Keybordの種類</a></li>
                    <li><a href="#men">2-1.メンブレン</a></li>
                    <li><a href="#panta">2-2.パンタグラフ</a></li>
                    <li><a href="#cal">2-3.メカニカル</a></li>
                    <li><a href="#sei">2-4.静電容量無接点方式</a></li>
                    <li><a href="#reco">3.おすすめのKeyvbord</a></li>
                    <li><a href="#uni">4.特徴的なKeybord</a></li>
                </ul>
            </div>
            <div id="start" class="start">
                <h3>1.About</h3>
                <p>Keybordとはコンピューターの操作全般に用いられる入力機器であり、パソコンを使う上では必要不可欠なデバイスです。近年テレワークなどPCをつかPCを使う機会が増えていると思います。そこで、仕事へのモチベーションや仕事道具にこだわりたい人により良いものを選んでほしいのでこのサイトを作成しました。</p>
            </div>
            <div id="kind" class="type">
                <h3>2.Keybordの種類</h3>
                <p>Keybordには主に四種類あり、それぞれキーの軸に違いがあり、特徴があるので紹介していきます</p>
                <h4 id="men">2-1.メンブレン</h4>
                <p>メンブレン式Keybordは安価で大量生産しやすいKeybordです。薄いKeybordやノートパソコンのキーに利用されています。キーにはシリコンキャップを使用しているため、ぐにゃぐにゃな手触りです。そのため、質感や、耐久力、クリック間は期待できません。しかし、非常に安価であり、あまりこだわりのない方にはおすすめのKeybordです。</p>
                <h4 id="panta">2-2.パンタグラフ</h4>
                <p>メンブレンと同様に安価で大量生産しやすいKeybordです。学校や職場のディスクトップパソコンやパソコンの付属品としてついてくることがあります。手触りはパンタグラフよりも深いため、よりぐにゃぐにゃしています。また、深いので、滑り撃ちに向いていません。</p>
                <h4 id="cal">2-3.メカニカル</h4>
                <p>メカニカルはキー一つ一つに特殊なばねがついており、その上に軸あります。軸には茶、黒、青、など分けられており、打鍵感や打鍵音にそれぞれ違いがあります。ゲーマーや自作キーボード、プログラマーなどに人気のKeybordです。</p>
                <img src="/img/a.jpg" alt="軸の表">
                <h4 id="sei">2-4.静電容量無接点方式</h4>
                <p>静電容量無接点方式とは高い耐久性と心地よいキータッチが特徴のキースイッチです。高い耐久性は無接点という名のとおり直接電極に触れないため、壊れにくくなっています。このキーは高級感があり、プログラマーなどの長時間使用する仕事の方にお勧めです。仕事道具にこだわる方には一押しの商品になっています。
                </p>
            </div>
            <div id="reco" class="recommend">
                <h3>3.おすすめのKeybord</h3>
                <p>おすすめのKeybordについてはこちらで紹介しています。</p>
                <a href="/link1">http://127.0.0.1:5500/link1/link.html</a>
            </div>       
            <div id="uni" class="unique">
                <h3>4.特徴的なKeybord</h3>
                <p>特徴的なKeybordについてはこちらで紹介しています。</p>
                <a href="/link2">http://127.0.0.1:5500/link2/link2.html</a>
            </div>
       
    </main>

    <footer>
        <a href="/"><h2>About Keybord</h2></a> 
        <ul class="other">
            <p>このサイト内</p>
            <li><a href="#start">About</a></li>
            <li><a href="#kind">Keybordの種類</a></li>
            <li><a href="#men">メンブレン</a></li>
            <li><a href="#panta">パンタグラフ</a></li>
            <li><a href="#cal">メカニカル</a></li>
            <li><a href="#sei">静電容量無接点方式</a></li>
            
            
        </ul>
        <ul class="nother">
            <p>別のサイト</p>
            <li><a href="/link1"  >おすすめのKeybord</a></li>
            <li><a href="/link2">特徴的なKeybord</a></li>
        </ul>
    </footer>
    <script src="/script.js"></script>
</body>

</html>