<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/link1.css">    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <title>おすすめのKeybord</title> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript"src="//code.typesquare.com/static/ZDbTe4IzCko%253D/ts106f.js"charset="utf-8"></script>
    </head>
    <body>
        <%- include('header'); %>
        <div class="main-header"></div> 
            

        <main>
            <div  class="mene" id="mene2">
                <a  class="mene-top"  href="/"><h2>About Keybord</h2></a> 
                <i class="fas fa-times"></i>
              
                <ul class="mene-other">
                    <p>このサイト内</p>
                    <li><a href="#link1-about">About</a></li>
                    <li><a href="#link1-kind">おすすめのKeybord</a></li>
                    <li><a href="#link1-men">メンブレン</a></li>
                    <li><a href="#link1-panta">パンタグラフ</a></li>
                    <li><a href="#link1-cal">メカニカル</a></li>
                    <li><a href="#link1-sei">静電容量無接点方式</a></li>
                    
                    
                </ul>
                <ul class=" mene-nother">
                    <p>別のサイト</p>
                    <li><a href="/">Topページ</a></li>
                    <li><a href="/link2">特徴的なKeybord</a></li>
                </ul>
              </div>
            <div class="mokuzi">
            

            
            <ul>
                <h3>目次</h3>
                <li><a href="#link1-about"> 1.About</a></li>
                <li><a href="#link1-kind">2.おすすめのKeybord</a></li>
                <li><a href="#link1-men">2-1.メンブレン</a></li>
                <li><a href="#link1-panta">2-2.パンタグラフ</a></li>
                <li><a href="#link1-cal">2-3.メカニカル</a></li>
                <li><a href="#link1-sei">2-4.静電容量無接点方式</a></li>

            </ul>
        </div>
            <h3 id="link1-about">1.About</h3>
            <p>今回はわたしが調べたなかでおすすめのKeybordをキー方式別に紹介します。</p>
            <h3 id="link1-kind">2.おすすめのKeybord</h3>

            <h4 id="link1-men">2-1.メンブレン</h4>                                                 
                <h5>ロジクール(Logicool) WIRELESS KEYBOARD K275</h5>
                <ul>
                    <img src="img\1.jpg" alt="画像">
                    <li class="fan">特徴:大手デバイスメーカーの「logicool」のキーボードです。2.4GHzワイヤレス接続タイプのキーボードなのディスク周りがすっきりまとめたい方にお勧めです。最大接続は6台まで可能です。また、重さが470gと軽量で持ち運びやすいキーボードなので仕事にも使いやすいモデルです。</li>
                    <li>価格:1491円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B015H5YHEM?tag=s02a3-22&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>

                <h5>エレコム(ELECOM) 無線コンパクトキーボード TK-FDM105TX</h5>
                <ul>
                    <img src="img\2.jpg" alt="画像">
                    <li class="fan">特徴:大手電機メーカーの「エレコム」のキーボードです。無線であることに加え、メンブレンキーボードながら最大1000万回のキーストロークにも耐えられる耐久性を謳われており、値段以上の性能を持ち合わせています。長時間タイピングするユーザーにおすすめです。</li>
                    <li>価格:1461円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B07NDM4CQZ?tag=s02a3-22&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul> 

                <h5>Sanwa Supply（サンワサプライ）コンパクトキーボード　SKB-KG3BKN / SKB-KG3WN</h5>
                <ul>
                    <img src="img\3.jpg" alt="画像">
                    <li class="fan">特徴:SKB-KG3シリーズはテンキーとhomeキー群を取り除き、文字だけに特化したキーボードです。コンパクトでありながらエンターキーは大きいため、使いやすくなっています。</li>
                    <li>価格:3520円</li>
                    <li><a href="https://www.amazon.co.jp/%E3%82%B5%E3%83%B3%E3%83%AF%E3%82%B5%E3%83%97%E3%83%A9%E3%82%A4-%E6%9C%89%E7%B7%9A%E3%82%B3%E3%83%B3%E3%83%91%E3%82%AF%E3%83%88%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89-%E6%97%A5%E6%9C%AC%E8%AA%9E86%E3%82%AD%E3%83%BC-2%E5%A4%89%E6%8F%9B%E3%82%A2%E3%83%80%E3%83%97%E3%82%BF%E4%BB%98%E3%81%8D-SKB-KG3BKN2/dp/B08KH96T13" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>

            <h4 id="link1-panta">2-2.パンタグラフ</h4>
                <h5>エレコム(ELECOM)　無線超薄型コンパクトキーボード　TK-FDP099T</h5>
                <ul>
                    <img src="img\4.jpg" alt="画像">
                    <li class="fan">特徴:テンキーがつきながら、コンパクトな設計となっています。電源のオンオフやペアリングしている機器などがわかるLEDランプがついています。パソコンはもちろんスマートフォンにもペアリング可能です。</li>
                    <li>価格:2930円</li>
                    <li><a href="https://www.amazon.co.jp/%E3%82%A8%E3%83%AC%E3%82%B3%E3%83%A0-%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89-%E3%83%86%E3%83%B3%E3%82%AD%E3%83%BC%E4%BB%98%E3%81%8D-%E3%83%91%E3%83%B3%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%95-TK-FDP099TBK/dp/B078HTFTSZ/ref=sr_1_1_sspa?keywords=%E4%BA%BA%E6%B0%97%E3%81%AE%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89+%E3%83%91%E3%83%B3%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%95%E3%83%A9%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0&qid=1640536074&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySEVQUTQ5Vkg3OTlQJmVuY3J5cHRlZElkPUEwODc4Njg2MzNEM09CWFVQN1hHTCZlbmNyeXB0ZWRBZElkPUEzTkhPTko0UENGUzlSJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul> 

                
                <h5>Sanwa Supply（サンワサプライ）薄型ワイヤレスキーボード　400-SKB054</h5>
                <ul>
                    <img src="img\5.jpg" alt="画像">
                    <li class="fan">特徴:操作音を約25dBほどに抑えた、静音設計モデルです。三時間の充電で約180時間稼働できるので電池交換の手間がかからないのが特徴です。図書館や職場など静かな場所での利用に向いています。</li>
                    <li>価格:4980円</li>
                    <li><a href="https://www.amazon.co.jp/%E3%82%B5%E3%83%B3%E3%83%AF%E3%83%80%E3%82%A4%E3%83%AC%E3%82%AF%E3%83%88-Bluetooth%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89-%E3%83%91%E3%83%B3%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%95-%E3%83%86%E3%83%B3%E3%82%AD%E3%83%BC%E4%BB%98%E3%81%8D-400-SKB068/dp/B08KFT9H4J/ref=sr_1_1_sspa?keywords=%E4%BA%BA%E6%B0%97%E3%81%AE%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89%2B%E3%83%91%E3%83%B3%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%95%E3%83%A9%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0&qid=1639118941&sr=8-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExTk42OUtRQkZGVExGJmVuY3J5cHRlZElkPUEwMzQ2ODcyRU5SQkpXNU81V1FOJmVuY3J5cHRlZEFkSWQ9QTEyVUc4QkpYVFpYMkUmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>
                <h5>ロジクール(Logicool) MX KEYS MAC用 KX800M</h5>
                <ul>
                    <img src="img\6.jpg" alt="画像">
                    <li class="fan">特徴:英字配列であり、macユーザーにおすすめのキーボードです。USB Type-Cでの充電に対応しており、約4時間のフル充電で最大5ヶ月間使用できる駆動時間の長さも魅力です。材質もメタルプレートを使っていることから耐久性にも優れている商品です。</li>
                    <li>価格:14500円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B08D3M4D9L?tag=s02a3-22&th=1 " class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>
            
            <h4 id="link1-cal">2-3.メカニカル</h4>
                <h5>ロジクール(Logicool) TKLメカニカル K835</h5>
                <ul>
                    <img src="img\7.jpg" alt="画像">
                    <li class="fan">特徴:5000万回の入力テストをクリアしたと謳われる高い耐久性と、デザイン性の高さを兼ね備えたメカニカルキーボードです。カラーは、グラファイトとオフホワイトの2色がラインナップ。軸は、キーの押下感触をしっかりと感じられる青軸スイッチと、打鍵感がなめらかな赤軸スイッチの2種類から選択できます。</li>
                    <li>価格:6500円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B08M38N6X7?tag=s02a3-22&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>     

                <h5>logicool G G512</h5>
                <ul>
                    <img src="img\8.jpg" alt="画像">
                    <li class="fan">特徴:優れた耐久性を持ち、高級感がある見た目です。ゲーマー向けであるlogicool gaming なので色鮮やかに光らせることも可能です。</li>
                    <li>価格:11091円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B0842XGGGW?tag=rviews02-22&linkCode=ogi&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>     

                <h5>ARCHISS ProgresTouch AS-KBPD66/LRBKWP</h5>
                <ul>
                    <img src="img\9.jpg" alt="画像">
                    <li class="fan">特徴:耐久性に優れており、ブレのない打鍵感が特徴です。シンプルな色で作られているため、仕事でも利用できるモデルです。</li>
                    <li>価格:9755円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B01LPLG72C?tag=rviews02-22&linkCode=ogi&th=1" class="btn btn-flat"><span> Amazonamazonで見る</a></span></li>
                </ul>     
            <h4 id="link1-sen">2-4.静電容量無接点方式</h4>
                <h5>PFU(ピーエフユー) Happy Hacking Keyboard Professional HYBRID Type-S 英語配列／墨</h5>
                <ul>
                    <img src="img\10.jpg" alt="画像">
                    <li class="fan">特徴:コンパクトなキー配列になっており、F1キーなどはなくfnキーとの組み合わせによってキーを排除しながらも使えるようになっている。電源は電池であり、リチウムイオン電池による劣化もなく一生使えるキーボードである。耐久性では度のキーボードよりも強い。静音性もよく職場などの静かな場所でも利用可能である。</li>
                    <li>価格:3200円</li>
                    <li><a href="https://www.pfu.fujitsu.com/direct/hhkb/" class="btn btn-flat kousiki"><span> 公式を見る</a></span></li>
                </ul>

                <h5>東プレ(Topre) REALFORCE </h5>
                <ul>
                    <img src="img\11.jpg" alt="画像">
                    <li class="fan">特徴:独自の「APC機能」を採用しており、一般的なメカニカルキーボードよりも最高25%の高速入力を実現しており、タイピングの公式大会でも利用されています。耐久性ももちろんのこと有線なので通信障害などの問題になりません。主にプログラマーにお勧めです。</li>
                    <li>価格:31350円</li>
                    <li><a href="https://www.pfu.fujitsu.com/direct/realforce/" class="btn btn-flat kousiki"><span>公式を見る</a></span></li>
                </ul>

                <h5>アキーヨ(AKEEYO) ワイヤレスキーボード AKY-NIZ-ATOM66-DM-35G-RGB</h5>
                <ul>
                    <img src="img\12.jpg" alt="画像">
                    <li class="fan">特徴:静電容量無接点方式では数少ないgamingモデルであり、耐久性はもちろんのこと、様々な接続方法に対応し、キースイッチの光り方や、キー配列の設定なども行える。</li>
                    <li>価格:16149円</li>
                    <li><a href="https://www.amazon.co.jp/dp/B07DXR341X?tag=s02a3-22" class="btn btn-flat "><span> Amazonamazonで見る</a></span></li>
                </ul>
        </main>
        <footer>
            <a c href="/"><h2>About Keybord</h2></a> 
            <ul class="other">
                <p>このサイト内</p>
                <li><a href="#link1-about">About</a></li>
                <li><a href="#link1-kind">おすすめのKeybord</a></li>
                <li><a href="#link1-men">メンブレン</a></li>
                <li><a href="#link1-panta">パンタグラフ</a></li>
                <li><a href="#link1-cal">メカニカル</a></li>
                <li><a href="#link1-sei">静電容量無接点方式</a></li>
                
                
            </ul>
            <ul class="nother">
                <p>別のサイト</p>
                <li><a href="/">topページ</a></li>
                <li><a href="/link2">特徴的なKeybord</a></li>
            </ul>
        </footer>
        <script src="/script.js"></script>
    </body>

</html>