<!DOCTYPE html>
<html>
    <head lang="ja">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/link2.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap" rel="stylesheet">
    <script type="text/javascript"src="//code.typesquare.com/static/ZDbTe4IzCko%253D/ts106f.js"charset="utf-8"></script>
    <title>特徴的なKeybord</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <%- include('header'); %>
        <div class="main-header"></div> 
        
        <main>
            <div  class=" mene-another" id="mene3">
                <a class="mene-top"  href="/"><h2>About Keybord</h2></a>  
                <i class="fas fa-times"></i>
                <ul class="mene-nother">
                    <p>別のサイト</p>
                    <li><a href="/">Topページ</a></li>
                    <li><a href="/link1">おすすめのKeybord</a></li>
                </ul>
              </div>
            <h3>特徴的なKeybord</h3>

            <h5>サンワサプライ　エルゴノミクスキーボード　</h5>
            <ul>
                <img src="img\716HVjbFB9L._AC_SX679_.jpg" alt="">
                <li>特徴:トラックボールと一体型になっており、キーボードも半分に分かれているため、マウスに手を動かすことなく極力手の移動を省いた商品です。プログラマーなどのライターにおすすめです。</li>
                <li>価格:5264円</li>
                <li><a href="https://www.amazon.co.jp/%E3%82%B5%E3%83%B3%E3%83%AF%E3%82%B5%E3%83%97%E3%83%A9%E3%82%A4-%E3%82%A8%E3%83%AB%E3%82%B4%E3%83%8E%E3%83%9F%E3%82%AF%E3%82%B9%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89-%E3%83%88%E3%83%A9%E3%83%83%E3%82%AF%E3%83%9C%E3%83%BC%E3%83%AB%E4%BB%98%E3%81%8D-%E6%97%A5%E6%9C%AC%E8%AA%9E109A%E9%85%8D%E5%88%97-SKB-ERG5BK/dp/B07G5QYGDV?th=1" class="btn btn-flat ">amazonで見る</a></li>
            </ul>
            <h5>ロジクール　CRAFT KX1000s</h5>
            <ul>
                <img src="img\61OMZliRnVL._AC_SX679_.jpg" alt="">
                <li>特徴:左上についているダイヤルはマウスカーソルの役割やadobe creativeにも対応しており設定することで一部の操作を割り当てることも可能なダイヤルです。なのでクリエーターにおすすめのKeybordです。</li>
                <li>価格:19264円</li>
                <li><a href="https://www.amazon.co.jp/Logicool-%E3%83%AD%E3%82%B8%E3%82%AF%E3%83%BC%E3%83%AB-KX1000s-bluetooth-%E3%83%AF%E3%82%A4%E3%83%A4%E3%83%AC%E3%82%B9%E3%82%AD%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%89/dp/B074Z75BGY?th=1" class="btn btn-flat ">amazonで見る</a></li>
            </ul>
            <p>まだまだ面白いKeybordがあるのでしらべてみてください!!</p>
        </main>
        <footer>
            <a href="/"><h2>About Keybord</h2></a>  
            <ul class="nother">
                <p>別のサイト</p>
                <li><a href="/">Topページ</a></li>
                <li><a href="/link1">おすすめのKeybord</a></li>
            </ul>
        </footer>      
        <script src="/script.js"></script>
    </body>
</html>