html{
    font-family: 'Noto Sans JP', sans-serif;
}
header {
    height: 80px;
    width: 100%;    
    line-height: 80px;
    background-color: rgba(212, 221, 238, 0.439);
    margin-right: 0;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
header h2{
    color: rgb(53, 2, 238);
    width:250px;
    height: 80px;
    float: left;
    margin:0 40px;

}
.fa-bars{
    font-size: 2em;
    margin: 0px;
    float: right;
    height: 80px;
    margin-right: 130px;
}
.fa-bars:before{
    line-height: 80px;
}